<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>High marks:</strong>
  <%= @pet.high_marks %>
</p>

<p>
  <strong>Sec marks:</strong>
  <%= @pet.sec_marks %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @pet.projects %>
</p>

<p>
  <strong>File:</strong>
  <%= @pet.file %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
